<header class="app-header">
  <div class="app-layout__container">
    <div class="app-layout__wrap">
      <h1 class="app-header__logo"><a routerLink="/">The Site</a></h1>
      
      <div class="app-header__menu-toggle">
        <span>Menü</span>
      </div>

      <nav class="app-header__nav">
        <a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About</a>
        <a routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a>
      </nav>
    </div>
  </div>
</header>